<!-- templates/layouts/navbar.html -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">FLIGHT BOOKING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/flights">Flights</a>
                <a class="nav-link active" href="/passenger">Passengers</a>
                <a class="nav-link active" href="/resrvation">Reservations</a>
            </div>
        </div>
    </div>
</nav>
