<nav aria-label="Pagination" th:fragment="pagination(baseUrl, totalPages, currentPage, pageSize)">
    <ul class="pagination justify-content-center" th:if="${totalPages > 0}">
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="~{layouts/paging :: paging(${baseUrl}, 1,'<<', 'First Page')}"></a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
            <a th:replace="~{layouts/paging :: paging(${baseUrl}, ${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence((currentPage > 2 ? currentPage - 2 : 1), (currentPage + 2 < totalPages ? currentPage + 2 : totalPages))}"
            th:classappend="${page == currentPage} ? 'active'">
            <a th:replace="~{layouts/paging :: paging(${baseUrl}, ${page}, ${page}, 'Page ' + ${page})}"></a>
        </li>
        <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item font-weight-bold" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="~{layouts/paging :: paging(${baseUrl}, ${currentPage + 1}, 'Next', 'Next Page')}"></a>
        </li>
        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
            <a th:replace="~{layouts/paging :: paging(${baseUrl}, ${totalPages}, '>>', 'Last Page')}"></a>
        </li>
    </ul>
</nav>