<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Passenger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="data:,">
</head>

<body>
<div class="container mt-4">
    <div class="card shadow p-4">
        <h2 class="text-center" th:text="${passenger.id != null ? 'Edit Passenger' : 'Create Passenger'}"></h2>

        <!-- Formularz do tworzenia nowego użytkownika/edycji istniejącego pasazera -->
        <form th:with="action=${passenger.id != null} ? '/passengers/edit/' + ${passenger.id} : '/passengers/create'"
              th:action="@{${action}}" method="post" th:object="${passenger}">

            <!-- name -->
<!--            <div class="form-group">-->
<!--                <label>-->
<!--                    First Name-->
<!--                    <span class="text-danger">*</span>-->
<!--                </label>-->
<!--                <input type="text"-->
<!--                       th:field="*{firstName}"-->
<!--                       th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"-->
<!--                       class="form-control" required>-->
<!--                <div th:errors="*{firstName}" class="invalid-feedback"></div>-->
<!--            </div>-->

            <!-- Lastname -->
<!--            <div class="form-group">-->
<!--                <label>-->
<!--                    Last Name-->
<!--                    <span class="text-danger">*</span>-->
<!--                </label>-->
<!--                <input type="text"-->
<!--                       th:field="*{lastName}"-->
<!--                       th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"-->
<!--                       class="form-control" required>-->
<!--                <div th:errors="*{lastName}" class="invalid-feedback"></div>-->
<!--            </div>-->

            <!-- Username -->
<!--            <div class="form-group">-->
<!--                <label>-->
<!--                    Username-->
<!--                    <span class="text-danger">*</span>-->
<!--                </label>-->
<!--                <input type="text"-->
<!--                       th:field="*{username}"-->
<!--                       th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'"-->
<!--                       class="form-control" required>-->
<!--                <div th:errors="*{username}" class="invalid-feedback"></div>-->
<!--            </div>-->

            <!-- E-mail -->
<!--            <div class="form-group">-->
<!--                <label>-->
<!--                    Email-->
<!--                    <span class="text-danger">*</span>-->
<!--                </label>-->
<!--                <input type="email"-->
<!--                       th:field="*{email}"-->
<!--                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"-->
<!--                       class="form-control" required>-->
<!--                <div th:errors="*{email}" class="invalid-feedback"></div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label>-->
<!--                    Password-->
<!--                    <span class="text-danger">*</span>-->
<!--                </label>-->
<!--                <input type="password"-->
<!--                       th:field="*{password}"-->
<!--                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"-->
<!--                       class="form-control" required>-->
<!--                <div th:errors="*{password}" class="invalid-feedback"></div>-->
<!--            </div>-->

            <!-- Aktywność użytkownika -->
<!--            <div class="form-group">-->
<!--                <label>-->
<!--                    Active-->
<!--                </label>-->
<!--                <select th:field="*{active}" class="form-select">-->
<!--                    <option th:value="true" th:text="'Active'" th:selected="${user.active == true}"></option>-->
<!--                    <option th:value="false" th:text="'Inactive'" th:selected="${user.active == false}"></option>-->
<!--                </select>-->
<!--            </div>-->

            <!-- Rola użytkownika -->
<!--            <div class="form-group">-->
<!--                <label for="role" class="form-label">Role</label>-->
<!--                <select id="role" class="form-select" th:field="*{role}" required>-->
<!--                    <option value="" disabled selected>Select role</option>-->
<!--                    <option th:each="role : ${roles}"-->
<!--                            th:value="${role}"-->
<!--                            th:text="${role.name()}">-->

<!--                    </option>-->
<!--                </select>-->
<!--            </div>-->

            <div th:insert="~{layouts/alerts::alerts}"></div>

            <!-- Przycisk przesyłania -->
            <button type="submit" class="btn btn-primary w-100">
                <span th:text="${passenger.id != null} ? 'Edit Passenger' : 'Create Passenger'"></span>
            </button>

        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>